.footer-container{
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: #ffffff;
}

.text span{
    color: #77040d;
}